<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/index.css" />
    <script type="module" defer src="../../index.js"></script>
  </head>

  <body>
    <nav class="app-grid__footer">
      <div class="flex footer__styling">
        <button class="footer__button">
          <a href="./index.html"
            ><img
              src="../../Images/home-new-48x48.svg"
              alt=""
              width="45"
              height="45"
          /></a>
        </button>
        <button class="footer__button">
          <a href="./bookmarks.html"
            ><img
              src="../../Images/bookmerk-better-48x48.svg"
              alt=""
              width="35"
              height="35"
          /></a>
        </button>
        <button class="footer__button">
          <a href="./create.html"
            ><img
              src="../../Images/write-new-48x48.svg"
              alt=""
              width="40"
              height="40"
          /></a>
        </button>
        <button class="footer__button">
          <a href="./profile.html"
            ><img
              src="../../Images/people-evenbetter-48x48.svg"
              alt=""
              width="40"
              height="40"
          /></a>
        </button>
      </div>
    </nav>
  </body>
</html>
