<nav class="app-grid__footer">
  <ul role="list" class="flex footer__styling">
    <li>
      <a href="./index.html"
        ><img src="./Images/home-new-48x48.svg" alt="" width="45" height="45"
      /></a>
    </li>
    <li>
      <a href="./bookmarks.html"
        ><img
          src="./Images/bookmerk-better-48x48.svg"
          alt=""
          width="35"
          height="35"
      /></a>
    </li>
    <li>
      <a href="./create.html"
        ><img src="./Images/write-new-48x48.svg" alt="" width="40" height="40"
      /></a>
    </li>
    <li>
      <a href="./profile.html"
        ><img
          src="./Images/people-evenbetter-48x48.svg"
          alt=""
          width="40"
          height="40"
      /></a>
    </li>
  </ul>
</nav>
