.footer__styling {
  border-top: 3px solid var(--color-gold);
  background-color: var(--color-papayawhip);
}

.footer__button {
  display: grid;
  justify-items: center;
  align-items: center;
}

.footer__icon--pressed {
  filter: invert(42%) sepia(70%) saturate(135%) hue-rotate(87deg)
    brightness(80%) contrast(20%);
}
