.survey__button {
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  border: none;
  background: var(--color-lightgold);
  font-size: 105%;
}

.survey__textarea {
  border: 2px solid var(--color-gold);
  background: var(--color-papayawhip);
  margin-top: 5px;
}

.survey__tags-field {
  border: 2px solid var(--color-gold);
  background: var(--color-papayawhip);
}
