.survey {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.survey__button {
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  border: none;
  background: var(--color-lightgold);
  font-size: 105%;
}

.survey__output {
  position: absolute;
  left: 85%;
}

.survey-label {
  position: relative;
}

.survey__textarea {
  border: 2px solid var(--color-gold);
  background: var(--color-papayawhip);
  margin-top: 5px;
  flex: 1;
  width: 100%;
  height: 150px;
}

.survey__tags-field {
  border: 2px solid var(--color-gold);
  background: var(--color-papayawhip);
}
