<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/index.css" />
    <script defer src="../../basic.js"></script>
  </head>
  <body>
    <form aria-labelledby="create-heading" autocomplete="off">
      <label for="Question"
        >Add your Question:
        <output class="survey__output" data-js="output">200</output>
        <textarea
          name=""
          id="question-field"
          maxlength="200"
          cols="45"
          rows="10"
          required
          class="survey__textarea"
          data-js="surveyTextarea"
        ></textarea>
      </label>
      <label for="Answer"
        >Add your Answer:
        <textarea
          name=""
          id="answer-field"
          maxlength="200"
          cols="45"
          rows="10"
          required
          class="survey__textarea"
        ></textarea>
      </label>
      <label for="tags-field">Add your Tags:</label>
      <input type="text" id="tags-field" required class="survey__tags-field" />
      <button type="submit" class="survey__button">Submit</button>
    </form>
  </body>
</html>
