<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/index.css" />
  </head>
</html>

<body>
  <figure class="user__figure">
    <img
      src="https://source.unsplash.com/random/200x200"
      alt=""
      width="150"
      height="150"
      class="user__image"
    />
    <figcaption class="user__name">Profile Name</figcaption>
  </figure>
  <p class="user__description">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
    amet.
  </p>
  <h2 class="user__skill-headline">Your Skills</h2>
  <ul role="list" class="user__tag">
    <li>Tag 1</li>
    <li>Tag 2</li>
    <li>Tag 3</li>
    <li>Tag 4</li>
  </ul>
  <button type="" class="user__logout">Logout</button>
</body>
