:root {
  --color-white: white;
  --color-black: black;
  --color-lightgray: lightgray;
  --color-wheat: wheat;
  --color-gold: rgb(196, 164, 60);
  --color-lightgold: rgb(206, 187, 125);
  --color-papayawhip: papayawhip;
}
